
.App {
  font-family: cursive;
  text-align: center;
}

h1{
  background: black;
  color: white;
}

.card {
  margin: 10px 10px;
  float: left;
  width: 25%;
  padding: 0 10px;
  display: table;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  background: #013220;
  color: white;
   flex: 0 1 24%;
}
